<footer class="footer">
    <div class="footer_bottom">
        <div class="follow-us">
            <a class="fa fa-github social-icon" href="https://github.com/{{ site.author.github }}"></a>
            <a class="fa fa-weibo social-icon" href="http://weibo.com/{{ site.author.weibo }}"></a>
            <a class="fa fa-qq social-icon" href="http://sighttp.qq.com/authd?IDKEY=482ba7c0b0b11579550c029b38b4250df2de0ddf72d63da2/{{ site.author.qq }}"></a>
			<a class="fa fa-weixin social-icon" href="http://www.dode.top/blog/img/weixin.png{{ site.author.weixin }}"></a>
        </div>

        <div class="copy">
            <p>Copyright &copy; 2015 <a href="http://mydearestzm.qzone.qq.com/">梦魇</a>.</p>
        </div>
    </div>
</footer>

<a title="首页" class="fa fa-paper-plane dp-dropplets-icon" href="{{ site.url }}"></a>
{% if pages > 1 %}
	{% if pagination.prev %}
	<a title="上一页" class="fa fa-arrow-left dp-dropplets-icon dp-dropplets-prev" href="{{ pagination.prev.url }}"></a>
	{% endif %}
	
	{% if pagination.next %}
	<a title="下一页" class="fa fa-arrow-right dp-dropplets-icon dp-dropplets-next" href="{{ pagination.next.url }}"></a>
	{% endif %}
{% endif %}